In [ ]:
QUESTION 3

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = {}

    def put_in_pouch(self, item):
        self.pouch[item] = True

    def pouch_contents(self):
        return self.pouch.keys()

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Now we can test the class using the examples you provided:

k = Kangaroo(0,0)
print(k) # Output: I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) # Output: dict_keys(['doll', 'firetruck', 'kitten'])

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k) # Output: I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (0,0)
dict_keys(['doll', 'firetruck', 'kitten'])
I am a Kangaroo located at coordinates (3,0)

QUESTION 2

In [2]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            return len(infile.read())
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except IsADirectoryError:
        print(f"{filename} is a directory.")
    except:
        print(f"Error reading file {filename}.")

print(fileLength('midterm.py'))
print(fileLength('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.
None

QUESTION 4

In [3]:
import math

def collatz(x):
    if x == 1:
        return
    print(x, end=' ')
    if x % 2 == 0:
        x = x // 2
    else:
        x = 3 * x + 1
    collatz(x)

In [4]:
collatz(10)

10 5 16 8 4 2

QUESTION 5

In [4]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

QUESTION 9

a)

In [8]:
words =['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# a)

words_upper = [word.upper() for word in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)

In [9]:
words_lower = [word.lower() for word in words]
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)

In [13]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d)

In [14]:
words_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(words_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e)

In [15]:
words_long = [word for word in words if len(word) >= 4]
print(words_long)

['quick', 'brown', 'jumps', 'over', 'lazy']

In [ ]:
QUESTION 1

In [16]:
a = 0 #intializing a local variable 'a' to 0

def b(): #defining a function b()
    global a #converting the local variable'a' to a global variable
    a = c(a)# calling the function c() to provide the value of a
    
def c(a): #defning a function c()
    return a+2 #the function c() returns a value of a+2 each time it is called

b() #function call
b() #function call
b() #function call; each time we called the function b() the value of 'a' was increased by 2; We have called 'a' 3times and thus Value of 'a'= 6;
a #prints the value of a

6

Question 8

In [18]:
import sqlite3

conn = sqlite3.connect('devika_chenkulam.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather 
    (City TEXT, Country TEXT, Season TEXT, "Temperature(C)" FLOAT, "Rainfall(mm)" FLOAT)
''')

weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, "Temperature(C)", "Rainfall(mm)")
    VALUES (?, ?, ?, ?, ?)
''', weather_data)

# a) All the temperature data.
cursor.execute('SELECT "Temperature(C)" FROM weather')
temperature_data = cursor.fetchall()

#b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
unique_cities = cursor.fetchall()

#c) All the records for India.
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
india_records = cursor.fetchall()

#d) All the Fall records
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG("Rainfall(mm)") BETWEEN 200 AND 400
''')
rainfall_between_200_400 = cursor.fetchall()

#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG("Temperature(C)") > 20
    ORDER BY AVG("Temperature(C)") ASC
''')
high_temp_cities_in_fall = cursor.fetchall()

#g) The total annual rainfall for Cairo.
cursor.execute('SELECT SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

#h) The total rainfall for each season.
cursor.execute('SELECT Season, SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather GROUP BY Season')
total_rainfall_by_season = cursor.fetchall()

# Print the results
print("a) All Temperature Data:", temperature_data)
print("b) All Unique Cities:", unique_cities)
print("c) Records for India:", india_records)
print("d) Fall Records:", fall_records)
print("e) Average Rainfall between 200 and 400:", rainfall_between_200_400)
print("f) High-Temperature Cities in Fall:", high_temp_cities_in_fall)
print("g) Total Rainfall for Cairo:", cairo_total_rainfall)
print("h) Total Rainfall by Season:", total_rainfall_by_season)


conn.commit()
conn.close()

a) All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
b) All Unique Cities: [('Mumbai',), ('London',), ('Cairo',)]
c) Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
d) Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
e) Average Rainfall between 200 and 400: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
f) High-Temperature Cities in Fall: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
g) Total Rainfall for Cairo: 27.6
h) Total Rainfall by Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]